<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Administrador</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <!-- Formulario de búsqueda -->
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            [(ngModel)]="searchText" name="searchText" (input)="applyFilter($event)">
          <button class="btn btn-outline-light" type="button" (click)="clearFilter()">Clear</button>
          <button class="btn btn-outline-light ms-2" type="button" (click)="logout()">Logout</button>
        </form>
        
        
      </div>
    </div>
  </div>
</nav>
